**<h1>SQL Query IMdb Dataset</h1>**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import sqlite3

In [2]:
path="/content/drive/MyDrive/Data Sets/movies (1).sqlite"
con=sqlite3.connect(path)
cur=con.cursor()

In [3]:
# Get all the data from table movies
cur.execute("select * from movies")
movie=cur.fetchall()

In [4]:
movie=pd.DataFrame(movie,columns=['id','original_title','budget','popularity','release_date','revenue','title','vote_average','vote_count','overview','tagline','uid','director_id'])

In [5]:
movie

         id                            original_title  ...     uid  director_id
0     43597                                    Avatar  ...   19995         4762
1     43598  Pirates of the Caribbean: At World's End  ...     285         4763
2     43599                                   Spectre  ...  206647         4764
3     43600                     The Dark Knight Rises  ...   49026         4765
4     43601                               John Carter  ...   49529         4766
...     ...                                       ...  ...     ...          ...
4768  48395                               El Mariachi  ...    9367         5097
4769  48396                                 Newlyweds  ...   72766         6485
4770  48397                 Signed, Sealed, Delivered  ...  231617         7108
4771  48398                          Shanghai Calling  ...  126186         7109
4772  48399                         My Date with Drew  ...   25975         7110

[4773 rows x 13 columns]

In [6]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

In [7]:
#Get the date from table directors
cur.execute('select * from directors')
directors=pd.DataFrame(cur.fetchall(),columns=['name', 'id', 'gender', 'uid', 'department'])
directors

                   name    id  gender      uid department
0         James Cameron  4762       2     2710  Directing
1        Gore Verbinski  4763       2     1704  Directing
2            Sam Mendes  4764       2       39  Directing
3     Christopher Nolan  4765       2      525  Directing
4        Andrew Stanton  4766       2        7  Directing
...                 ...   ...     ...      ...        ...
2344      Shane Carruth  7106       2    76624  Directing
2345   Neill Dela Llana  7107       0  1174437  Directing
2346        Scott Smith  7108       0  1219158  Directing
2347        Daniel Hsia  7109       2   208138  Directing
2348   Brian Herzlinger  7110       2    85563  Directing

[2349 rows x 5 columns]

In [8]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

In [9]:
# check how many movies are present in imdb data
cur.execute('select count(id) from movies')
cur.fetchall()

[(4773,)]

In [10]:
# Find the data of theese three directors : James Cameron, Luc besson, John woo
cur.execute('select * from directors where name in ("James Cameron","Luc Besson","John Woo")')  # we can do using or operator
dir=pd.DataFrame(cur.fetchall(),columns=directors.columns)                                    # select * from directors where name='James Cameron' or name='Luc Besson' or name='John Woo'
dir

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

In [11]:
# Find the all the data of directors with name starting with 'steven'
cur.execute('select name from directors where name like "steven%"')
cur.fetchall()

[('Steven Spielberg',),
 ('Steven Soderbergh',),
 ('Steven Brill',),
 ('Steven Zaillian',),
 ('Steven Quale',),
 ('Steven Seagal',),
 ('Steven E. de Souza',),
 ('Steven Shainberg',),
 ('Steven R. Monroe',)]

In [12]:
# count the female directors ,gender=1
cur.execute('select count(id) from directors where gender=="1"')
cur.fetchall()

[(150,)]

In [13]:
#find the name of 10th female director.
cur.execute('select name from directors where gender=="1" limit 10')
female=cur.fetchall()
female[9]

('Angelina Jolie',)

In [14]:
# What are the top 3 most popular movies.
cur.execute('select original_title from movies order by popularity DESC limit 3')
cur.fetchall()

[('Minions',), ('Interstellar',), ('Deadpool',)]

In [15]:
# What is the most awarded average rated movie since jan 1st, 2000
cur.execute("select original_title from movies where release_date > '2000-01-01' order by vote_average DESC limit 1")
cur.fetchall()

[('Sardaarji',)]

In [16]:
# Which movies were directed by Brenda chapman ? 
cur.execute("select m.original_title,d.name from movies as m join directors as d on m.director_id=d.id where name='Brenda Chapman'")
cur.fetchall()

[('Brave', 'Brenda Chapman')]

In [19]:
# Name the director who has made more number of movies
cur.execute("select d.name from directors as d inner join movies as m on d.id=m.director_id group by d.name order by count(d.name) DESC limit 1")
cur.fetchall()

[('Steven Spielberg',)]

In [21]:
# Name the director who is most bankable
cur.execute("select d.name,sum(m.budget) from movies as m join directors as d on d.id=m.director_id group by d.name order by sum(m.budget) DESC limit 1")
cur.fetchall()

[('Steven Spielberg', 1667500000)]

<h1>Budget Analysis</h1>

In [26]:
# Display everything about the top 10 highest budget making movies
cur.execute("select * from movies order by budget DESC limit 10")
data=pd.DataFrame(cur.fetchall(),columns=movie.columns)
data

      id                               original_title  ...    uid  director_id
0  43614  Pirates of the Caribbean: On Stranger Tides  ...   1865         4775
1  43598     Pirates of the Caribbean: At World's End  ...    285         4763
2  43604                      Avengers: Age of Ultron  ...  99861         4769
3  43607                             Superman Returns  ...   1452         4772
4  43601                                  John Carter  ...  49529         4766
5  43603                                      Tangled  ...  38757         4768
6  43602                                 Spider-Man 3  ...    559         4767
7  43610                              The Lone Ranger  ...  57201         4763
8  43600                        The Dark Knight Rises  ...  49026         4765
9  43605       Harry Potter and the Half-Blood Prince  ...    767         4770

[10 rows x 13 columns]

**<h1>Revenue Analysis</h1>**

In [29]:
# Find top 10 revenue generating movies
cur.execute("select original_title, revenue from movies order by revenue DESC limit 10")
cur.fetchall()

[('Avatar', 2787965087),
 ('Titanic', 1845034188),
 ('The Avengers', 1519557910),
 ('Jurassic World', 1513528810),
 ('Furious 7', 1506249360),
 ('Avengers: Age of Ultron', 1405403694),
 ('Frozen', 1274219009),
 ('Iron Man 3', 1215439994),
 ('Minions', 1156730962),
 ('Captain America: Civil War', 1153304495)]

**<h1>Voting Analysis</h1>**

In [33]:
# Find all details of 20 most popular movies with higher vote average
cur.execute("select * from movies order by vote_average DESC limit 20")
vote=pd.DataFrame(cur.fetchall(),columns=movie.columns)
vote

       id               original_title  ...     uid  director_id
0   47116             Stiff Upper Lips  ...   89861         6332
1   47642        Dancer, Texas Pop. 81  ...   78373         5463
2   47589                    Sardaarji  ...  346081         6588
3   45983               One Man's Hero  ...   69848         5770
4   45478     The Shawshank Redemption  ...     278         5051
5   46567           There Goes My Baby  ...   88641         6051
6   46393        The Prisoner of Zenda  ...   43867         5972
7   46934                The Godfather  ...     238         5179
8   44259                   Fight Club  ...     550         4829
9   45415             Schindler's List  ...     424         4799
10  45891                     千と千尋の神隠し  ...     129         5417
11  46328       The Godfather: Part II  ...     240         5179
12  46829                 Pulp Fiction  ...     680         4927
13  47462                     Whiplash  ...  244786         6521
14  48352                     Counting  ...  322745         7078
15  43662              The Dark Knight  ...     155         4765
16  44287               The Green Mile  ...     497         5051
17  44406                 Forrest Gump  ...      13         4804
18  45260  Once Upon a Time in America  ...     311         5497
19  45444                   GoodFellas  ...     769         4809

[20 rows x 13 columns]

**<h1>Director Analysis</h1>**

In [36]:
# Name all the directors with the number of movies total revenue generated by those total movies of that director, The director that has generated highest revenue which come at top
cur.execute("select d.name,count(m.id),sum(m.revenue) from movies as m join directors as d on m.director_id=d.id group by d.name order by sum(m.revenue) DESC ")
cur.fetchall()

[('Steven Spielberg', 27, 9147393164),
 ('Peter Jackson', 9, 6498642820),
 ('James Cameron', 7, 5883569439),
 ('Michael Bay', 12, 5832524638),
 ('Christopher Nolan', 8, 4227483234),
 ('Chris Columbus', 11, 3725631503),
 ('Robert Zemeckis', 13, 3590622002),
 ('George Lucas', 5, 3339113893),
 ('Tim Burton', 14, 3337418241),
 ('Ridley Scott', 16, 3189557997),
 ('Gore Verbinski', 7, 3177013357),
 ('Sam Raimi', 11, 3132901462),
 ('Joss Whedon', 3, 2963831068),
 ('Roland Emmerich', 8, 2956821040),
 ('Francis Lawrence', 5, 2952457182),
 ('Ron Howard', 13, 2877390547),
 ('Bryan Singer', 8, 2808235001),
 ('Sam Mendes', 7, 2713548809),
 ('Andrew Adamson', 5, 2606859447),
 ('Carlos Saldanha', 4, 2532451792),
 ('Clint Eastwood', 20, 2512058888),
 ('Zack Snyder', 7, 2476197387),
 ('M. Night Shyamalan', 9, 2452354930),
 ('Jon Favreau', 6, 2418854232),
 ('James Wan', 7, 2362314787),
 ('David Yates', 3, 2228914996),
 ('Shawn Levy', 11, 2218587063),
 ('Barry Sonnenfeld', 7, 2192438737),
 ('Pete Docter', 3, 2155526512),
 ('David Fincher', 10, 2139346325),
 ('Steven Soderbergh', 15, 2114864443),
 ('Andrew Stanton', 4, 2109045355),
 ('Anthony Russo', 4, 1998502435),
 ('Martin Scorsese', 20, 1956635998),
 ('Lilly Wachowski', 6, 1912050101),
 ('John Lasseter', 4, 1892756447),
 ('Tony Scott', 12, 1867920739),
 ('Martin Campbell', 8, 1854344952),
 ('Rob Marshall', 5, 1781461383),
 ('Brett Ratner', 9, 1731582308),
 ('Jay Roach', 8, 1722550236),
 ('Raja Gosnell', 6, 1691542081),
 ('Eric Darnell', 4, 1681890982),
 ('Wolfgang Petersen', 7, 1615016083),
 ('Alfonso Cuarón', 4, 1609773702),
 ('Brad Bird', 4, 1558469099),
 ('Mike Newell', 7, 1532339116),
 ('Marc Webb', 3, 1518656023),
 ('Colin Trevorrow', 2, 1517536602),
 ('Pierre Coffin', 2, 1514275870),
 ('J.J. Abrams', 4, 1510991691),
 ('Quentin Tarantino', 8, 1501630797),
 ('Chris Weitz', 6, 1448304582),
 ('Garry Marshall', 8, 1441191000),
 ('Joel Schumacher', 13, 1437036597),
 ('Paul Greengrass', 7, 1413751482),
 ('Marc Forster', 8, 1409088944),
 ('Ang Lee', 8, 1389619699),
 ('Dennis Dugan', 9, 1379961533),
 ('Rob Cohen', 9, 1355060000),
 ('Chris Miller', 2, 1353945642),
 ('Doug Liman', 7, 1342160652),
 ('Bobby Farrelly', 11, 1338217899),
 ('Tom Shadyac', 7, 1329174878),
 ('Todd Phillips', 7, 1320393375),
 ('Richard Donner', 11, 1304160471),
 ('Paul W.S. Anderson', 10, 1301861740),
 ('Oliver Stone', 14, 1278048615),
 ('Chris Buck', 1, 1274219009),
 ('Conrad Vernon', 3, 1269183761),
 ('Jan de Bont', 5, 1257122028),
 ('Peter Berg', 6, 1253823919),
 ('Nancy Meyers', 5, 1248677472),
 ('Mike Mitchell', 4, 1247201184),
 ('John Woo', 7, 1244047084),
 ('Shane Black', 2, 1231225142),
 ('Chris Sanders', 3, 1225829214),
 ('Jennifer Yuh Nelson', 2, 1186863106),
 ('John McTiernan', 10, 1170400300),
 ('Kyle Balda', 1, 1156730962),
 ('McG', 6, 1147752254),
 ('George Miller', 7, 1143563325),
 ('Edward Zwick', 7, 1135457883),
 ('Justin Lin', 5, 1128077783),
 ('Steve Martino', 2, 1123477895),
 ('Jon M. Chu', 5, 1115328078),
 ('Robert Rodriguez', 16, 1109899581),
 ('Barry Levinson', 13, 1109252230),
 ('Phil Lord', 4, 1102176100),
 ('David Ayer', 6, 1093989715),
 ('Alan Taylor', 2, 1085174939),
 ('Simon West', 8, 1081139200),
 ('Guy Ritchie', 7, 1080581889),
 ('Jon Turteltaub', 7, 1073738869),
 ('James Mangold', 8, 1068947930),
 ('Lee Unkrich', 1, 1066969703),
 ('Phillip Noyce', 9, 1055771881),
 ('Rob Minkoff', 5, 1053201493),
 ('Kenneth Branagh', 7, 1043390078),
 ('Peyton Reed', 4, 1040752558),
 ('Renny Harlin', 15, 1031500590),
 ('Bill Condon', 5, 998944316),
 ('Jonathan Liebesman', 5, 980666756),
 ('Chris Williams', 2, 962085437),
 ('Joel Coen', 11, 953609015),
 ('Mel Gibson', 3, 942074710),
 ('Brad Peyton', 3, 938667356),
 ('Robert Schwentke', 6, 932415622),
 ('Brian De Palma', 12, 921220751),
 ('Christopher McQuarrie', 3, 919796135),
 ('Michael Apted', 5, 913882717),
 ('Chris Wedge', 3, 912380764),
 ('Guillermo del Toro', 5, 905578214),
 ('Matt Reeves', 4, 905554205),
 ('Ivan Reitman', 8, 905379808),
 ('Francis Ford Coppola', 12, 886044365),
 ('John Glen', 5, 882593674),
 ('Ron Clements', 3, 880674099),
 ('Alejandro González Iñárritu', 6, 877979871),
 ('Chris Renaud', 1, 875958308),
 ('Adam Shankman', 8, 873562773),
 ('Gary Ross', 3, 864583087),
 ('Frank Coraci', 7, 862299381),
 ('Andy Tennant', 6, 861659657),
 ('Adam McKay', 6, 859076455),
 ('Hayao Miyazaki', 4, 856490376),
 ('Tom Hooper', 3, 856021319),
 ('Joe Johnston', 4, 847454033),
 ('Peter Segal', 7, 836836706),
 ('Genndy Tartakovsky', 3, 831602561),
 ('Sydney Pollack', 5, 813501065),
 ('Tim Story', 7, 809906475),
 ('Chuck Russell', 6, 804005371),
 ('Rob Reiner', 11, 803797477),
 ('Jerry Zucker', 4, 801552508),
 ('Roger Allers', 1, 788241776),
 ('Tim Miller', 1, 783112979),
 ('David Slade', 3, 781019529),
 ('Peter Weir', 4, 780696421),
 ('Antoine Fuqua', 8, 780013120),
 ('Kevin Reynolds', 5, 776481814),
 ('Alex Proyas', 5, 774562458),
 ('David O. Russell', 8, 774364027),
 ('James Gunn', 3, 773652767),
 ('Betty Thomas', 4, 771157747),
 ('Seth MacFarlane', 3, 766390903),
 ('Wes Craven', 10, 764794281),
 ('Olivier Megaton', 3, 762878584),
 ('Darren Aronofsky', 6, 761061349),
 ('Robert Stromberg', 1, 758539785),
 ('F. Gary Gray', 8, 758327415),
 ('Danny Boyle', 8, 747592547),
 ('Stephen Sommers', 4, 746685317),
 ('Dan Scanlon', 1, 743559607),
 ('Jonathan Mostow', 4, 735270331),
 ('Mark Osborne', 2, 729315810),
 ('Baz Luhrmann', 4, 727106616),
 ('Phyllida Lloyd', 2, 724798336),
 ('Cameron Crowe', 6, 722691372),
 ('Tim Hill', 5, 720605977),
 ('Mark Waters', 6, 702753525),
 ('Irvin Kershner', 2, 698400000),
 ('Louis Leterrier', 6, 694091791),
 ('David Frankel', 4, 692362906),
 ('Robert Luketic', 6, 686786764),
 ('Joseph Kosinski', 2, 686231335),
 ('Anne Fletcher', 5, 685373124),
 ('Paul Feig', 4, 676205212),
 ('Brian Levant', 6, 674087078),
 ('Michael Mann', 6, 673131444),
 ('Woody Allen', 21, 669101038),
 ('Wes Ball', 2, 659576787),
 ('Lee Tamahori', 5, 657264116),
 ('Rawson Marshall Thurber', 3, 654688972),
 ('Jaume Collet-Serra', 6, 654620771),
 ('John Singleton', 7, 632410492),
 ('Nicholas Stoller', 5, 626028443),
 ('Jan Pinkava', 1, 623722818),
 ('John Madden', 5, 619881479),
 ('Paul Verhoeven', 5, 619289575),
 ('Judd Apatow', 5, 618839316),
 ('Walt Becker', 4, 617875773),
 ('Dean DeBlois', 1, 609123048),
 ('Neill Blomkamp', 3, 601359859),
 ('Matthew Vaughn', 4, 597223267),
 ('Ben Stiller', 5, 595781748),
 ('Byron Howard', 1, 591794936),
 ('Duncan Jones', 3, 590769984),
 ('Len Wiseman', 3, 590580722),
 ('Steve Carr', 4, 583658670),
 ('Jonathan Demme', 5, 575527326),
 ('Richard Marquand', 1, 572700000),
 ('Sam Taylor-Johnson', 2, 571006128),
 ('Luc Besson', 5, 565778217),
 ('Brad Silberling', 4, 565313189),
 ('Lasse Hallström', 9, 562144542),
 ('Harold Ramis', 8, 556782770),
 ('Andy Fickman', 6, 547448412),
 ('James Bobin', 3, 544937611),
 ('Tarsem Singh', 4, 544601608),
 ('Joe Wright', 6, 543233714),
 ('William Friedkin', 6, 542215589),
 ('Brenda Chapman', 1, 538983207),
 ('Adrian Lyne', 4, 538940602),
 ('David Hand', 3, 535692636),
 ('Anthony Minghella', 3, 533788199),
 ('Gavin Hood', 4, 533228696),
 ('David Silverman', 1, 527068851),
 ('Kevin Lima', 2, 524099423),
 ('John Lee Hancock', 4, 523169892),
 ('Rupert Wyatt', 2, 522031315),
 ('Roger Michell', 3, 517610622),
 ('Nick Cassavetes', 4, 510344067),
 ('Kevin Costner', 3, 510131375),
 ('Guy Hamilton', 6, 507480445),
 ('Andrew Davis', 4, 507467527),
 ('Lewis Gilbert', 3, 507331559),
 ('Martin Brest', 4, 504980393),
 ('John Moore', 4, 502833469),
 ('Catherine Hardwicke', 6, 499791787),
 ('Donald Petrie', 8, 498836723),
 ('Timur Bekmambetov', 4, 496596458),
 ('David Zucker', 5, 492866248),
 ('Mark Dindal', 3, 487326989),
 ('Robert Wise', 4, 481247671),
 ('Gabriele Muccino', 4, 475244986),
 ('Rich Moore', 1, 471222889),
 ('John Landis', 5, 465838879),
 ('Jason Reitman', 5, 463089932),
 ('Darren Lynn Bousman', 5, 456342667),
 ('Scott Derrickson', 4, 455022766),
 ('Seth Gordon', 3, 454698707),
 ('D.J. Caruso', 4, 440996231),
 ('Larry Charles', 5, 440952277),
 ('Victor Fleming', 3, 439294426),
 ('Roger Spottiswoode', 4, 436496545),
 ('Henry Joost', 3, 432229120),
 ('Roger Donaldson', 7, 432060986),
 ('Sylvester Stallone', 2, 430191526),
 ('Tony Gilroy', 3, 429564773),
 ('Brian Helgeland', 5, 428667607),
 ('Sean Anders', 4, 427270797),
 ('James L. Brooks', 3, 417888285),
 ('Nick Park', 2, 417287396),
 ('Peter Chelsom', 5, 413562334),
 ('Wes Anderson', 7, 413240282),
 ('Mick Jackson', 2, 411006740),
 ('Alexander Payne', 5, 410234956),
 ('Frank Darabont', 4, 407355217),
 ('Jeff Tremaine', 4, 406116832),
 ('David R. Ellis', 5, 405164703),
 ('Baltasar Kormákur', 3, 398467995),
 ('Rupert Sanders', 1, 396600000),
 ('Dominic Sena', 3, 396488740),
 ('Rob Letterman', 2, 395545512),
 ('Tim Johnson', 2, 395159327),
 ('Gus Van Sant', 7, 389993085),
 ('Ben Affleck', 2, 386350264),
 ('Keenen Ivory Wayans', 4, 385294692),
 ('Simon Wells', 3, 381335122),
 ('Peter Hyams', 6, 380635687),
 ('Nora Ephron', 3, 380361994),
 ('Stephen Frears', 10, 378411142),
 ('Stephen Hopkins', 6, 378023288),
 ('Neil Burger', 4, 375662912),
 ('Vicky Jenson', 2, 373680264),
 ('Mikael Håfström', 4, 371121418),
 ('Joel Zwick', 2, 368744044),
 ('Richard Curtis', 3, 368380999),
 ('Zhang Yimou', 6, 365569811),
 ('Paul Weitz', 5, 364134283),
 ('Jake Kasdan', 4, 362564490),
 ('Frank Marshall', 4, 362420184),
 ('George Clooney', 5, 359890393),
 ('Jean-Pierre Jeunet', 5, 359416743),
 ('Will Gluck', 3, 359257886),
 ('George P. Cosmatos', 3, 359060037),
 ('Gary Winick', 5, 358010446),
 ('Ralph Zondag', 1, 354248063),
 ('Fergal Reilly', 1, 349779543),
 ('Florian Henckel von Donnersmarck', 2, 348731369),
 ('Curtis Hanson', 7, 348224998),
 ('Mike Gabriel', 1, 346079773),
 ('Jean-Jacques Annaud', 4, 345866560),
 ('Bruce Beresford', 4, 344354305),
 ('Karey Kirkpatrick', 2, 343397247),
 ('Roman Polanski', 6, 341788974),
 ('Spike Lee', 16, 340618771),
 ('Noam Murro', 1, 337580051),
 ('Alan J. Pakula', 2, 336075603),
 ('Joe Dante', 6, 335748593),
 ('Jonathan Frakes', 4, 335076920),
 ('Tom Tykwer', 5, 332703722),
 ('Les Mayfield', 5, 332134478),
 ('Peter Sohn', 1, 331926147),
 ('Peter Faiman', 1, 328203506),
 ('Marc Lawrence', 3, 324531590),
 ('Taylor Hackford', 6, 323892835),
 ('Thor Freudenthal', 3, 323313709),
 ('Tom McGrath', 1, 321887208),
 ('Breck Eisner', 3, 321162536),
 ('Stephen Daldry', 5, 319865001),
 ('Penny Marshall', 4, 319203191),
 ('Jesse Dylan', 3, 318675071),
 ('Steven Quale', 2, 318489837),
 ('James DeMonaco', 3, 316699354),
 ('Neil Jordan', 8, 315586126),
 ('Jason Friedberg', 5, 314717971),
 ('Stanley Kubrick', 6, 313498854),
 ('Josh Trank', 2, 312977596),
 ('Michel Gondry', 4, 311793969),
 ('Luke Greenfield', 4, 311707109),
 ('Paul Tibbitt', 1, 311594032),
 ('Richard Linklater', 11, 311532037),
 ('Stephen Norrington', 2, 310448734),
 ('Ken Kwapis', 4, 310338941),
 ('Glenn Ficarra', 3, 307466195),
 ('Luis Llosa', 2, 307248349),
 ('Josh Boone', 1, 307166834),
 ('Peter Ramsey', 1, 306941670),
 ('John R. Leonetti', 2, 306650674),
 ('Mel Brooks', 6, 306628761),
 ('Robert Redford', 5, 305037662),
 ('Tony Bancroft', 1, 304320254),
 ('Eric Brevig', 2, 303286201),
 ('Dean Parisot', 4, 303153344),
 ('Pierre Morel', 4, 302885585),
 ('Hugh Wilson', 4, 302861916),
 ('Jon Amiel', 4, 300414418),
 ('Tyler Perry', 9, 299997177),
 ('P.J. Hogan', 1, 299288605),
 ('Andrzej Bartkowiak', 5, 296236439),
 ('Hoyt Yeatman', 1, 292817841),
 ('Rob Bowman', 4, 291792124),
 ('Kirk Jones', 5, 291113073),
 ('Dave Green', 2, 290923848),
 ('David Twohy', 4, 290150325),
 ('Chris Noonan', 2, 289213151),
 ('Michael Patrick King', 1, 288347692),
 ('Steve Hickner', 1, 287594577),
 ('J.B. Rogers', 2, 287553595),
 ('Elizabeth Banks', 1, 287506194),
 ('Gary Trousdale', 2, 286192576),
 ('Steve Oedekerk', 4, 285164533),
 ('Terence Young', 4, 284894423),
 ('David Soren', 1, 282570682),
 ('Sharon Maguire', 1, 281929795),
 ('Richard Lester', 5, 278608998),
 ('Jon Hurwitz', 2, 278482707),
 ('Randall Wallace', 4, 276245117),
 ('Randal Kleiser', 3, 275460036),
 ('Andrew Niccol', 5, 274234941),
 ('Richard LaGravenese', 5, 270961051),
 ('Malcolm D. Lee', 7, 269832977),
 ('Terry Gilliam', 7, 269639169),
 ('John Whitesell', 5, 269105546),
 ('Brian Taylor', 4, 267537513),
 ('Peter Howitt', 4, 266794793),
 ('Peter Cattaneo', 4, 266753678),
 ('Brian A Miller', 1, 266586800),
 ('John Hamburg', 3, 263600372),
 ('George Roy Hill', 2, 261925216),
 ('Albert Hughes', 3, 259565870),
 ('Mike Nichols', 6, 259417107),
 ('Paul King', 1, 259207227),
 ('David Bowers', 4, 258079953),
 ('John Carpenter', 10, 255907979),
 ('Michael Caton-Jones', 4, 251990584),
 ('Joe Pytka', 1, 250200000),
 ('Stefen Fangmeier', 1, 249288105),
 ('Morten Tyldum', 2, 249255415),
 ('Cody Cameron', 1, 248384621),
 ('Ruben Fleischer', 3, 248139725),
 ('Daniel Myrick', 1, 248000000),
 ('David Dobkin', 4, 247493312),
 ('Mark Steven Johnson', 2, 246991808),
 ('Wayne Wang', 5, 245938046),
 ('Kevin Smith', 12, 245343074),
 ('James Wong', 4, 243721472),
 ('José Padilha', 2, 242688965),
 ('David Lean', 4, 242341401),
 ('Steven Brill', 4, 240900653),
 ('John Cornell', 1, 239606210),
 ('Greg Mottola', 3, 236179653),
 ('Jon Lucas', 2, 232001746),
 ('Stephen Herek', 8, 231371920),
 ('Steve Bendelack', 1, 229736344),
 ('Tom Dey', 3, 229409341),
 ('Tommy Wirkola', 2, 226788137),
 ('Alexandre Aja', 4, 225248317),
 ('Paul Thomas Anderson', 6, 225131143),
 ('Juan Antonio Bayona', 2, 224274123),
 ('James McTeigue', 4, 222631133),
 ('Takashi Shimizu', 2, 222618441),
 ('Boaz Yakin', 3, 221020124),
 ('Leonard Nimoy', 3, 220000000),
 ('Scott Hicks', 5, 216143969),
 ('Gary Shore', 1, 215529201),
 ('Gary Fleder', 6, 213930125),
 ('Mathieu Kassovitz', 2, 213699932),
 ('Peter Hewitt', 4, 213310722),
 ('Denis Villeneuve', 3, 213256341),
 ('Frank Oz', 7, 211818325),
 ('Daniel Espinosa', 3, 211400535),
 ('Ryan Murphy', 2, 211348914),
 ('Kathryn Bigelow', 3, 209989682),
 ('Miloš Forman', 3, 208388734),
 ('John G. Avildsen', 2, 208050705),
 ('Thea Sharrock', 1, 207945075),
 ('Iain Softley', 4, 207344060),
 ('Patrick Hughes', 1, 206172544),
 ('Babak Najafi', 1, 205754447),
 ('Burr Steers', 4, 205609973),
 ('David S. Goyer', 2, 205419416),
 ('Steve McQueen', 2, 204693675),
 ('Kevin Greutert', 2, 204384063),
 ('Edgar Wright', 4, 204367012),
 ('Michael Moore', 6, 203360380),
 ('Scott Waugh', 1, 203277636),
 ('Spike Jonze', 4, 203102813),
 ('Russell Mulcahy', 4, 202451882),
 ('Thomas Carter', 3, 197836045),
 ('Jill Culton', 1, 197309027),
 ('Mimi Leder', 3, 196172075),
 ('Michael Sucsy', 1, 196114570),
 ('Clark Johnson', 2, 194563692),
 ('Nicholas Meyer', 2, 193700000),
 ('Soi Cheang', 1, 193677158),
 ('Oren Peli', 2, 193355800),
 ('William Brent Bell', 3, 193051952),
 ('Phil Alden Robinson', 1, 193000000),
 ('Pete Travis', 2, 192199233),
 ('Stephen Chow', 3, 190992676),
 ('Ryan Coogler', 2, 190953411),
 ('Sofia Coppola', 4, 190607573),
 ('Bob Clark', 4, 190582460),
 ('John Pasquin', 3, 189833357),
 ('Stuart Baird', 2, 189282042),
 ('Peter MacDonald', 1, 189015611),
 ('Jeannot Szwarc', 2, 187884007),
 ('Brian Robbins', 6, 186402411),
 ('Shekhar Kapur', 3, 186270850),
 ('Tom Vaughan', 2, 185134293),
 ('John Frankenheimer', 5, 184207633),
 ('Michael Lembeck', 2, 184196081),
 ('Roger Kumble', 3, 183939155),
 ('Terrence Malick', 4, 183336804),
 ('Alan Parker', 3, 180002790),
 ('Ben Falcone', 2, 179161689),
 ('Paul Haggis', 3, 179100502),
 ('Oliver Parker', 3, 178613777),
 ('Tod Williams', 1, 177512032),
 ('Gary Goldman', 2, 176558982),
 ('David Koepp', 5, 175548417),
 ('Bong Joon-ho', 2, 175248555),
 ('Jonathan Lynn', 4, 173913246),
 ('Warren Beatty', 3, 173324269),
 ('David Gordon Green', 8, 172470801),
 ('Peter Billingsley', 1, 171844840),
 ('Kevin Rodney Sullivan', 3, 171658650),
 ('Charles Martin Smith', 3, 170973429),
 ('David Cronenberg', 7, 169058991),
 ('John Erick Dowdle', 4, 168957466),
 ('Angelina Jolie', 3, 167474560),
 ('Tobe Hooper', 5, 165969535),
 ('Ronny Yu', 4, 165580694),
 ('Harold Becker', 4, 165128807),
 ('Richard Fleischer', 4, 164696924),
 ('Cedric Nicolas-Troyan', 1, 164602163),
 ('Brad Furman', 3, 163466352),
 ('Lee Daniels', 2, 163459134),
 ('Patrick Lussier', 4, 162666456),
 ('Hideo Nakata', 1, 161451538),
 ('Måns Mårlind', 1, 160112671),
 ('Bennett Miller', 2, 159291046),
 ('Jonathan Levine', 4, 159068420),
 ('Gil Kenan', 2, 158044054),
 ('Norman Jewison', 5, 157260582),
 ('Nimród Antal', 3, 157164001),
 ('John Polson', 2, 157056060),
 ('Wilson Yip', 1, 156844753),
 ('Tate Taylor', 2, 156183722),
 ('Scott Cooper', 3, 153700310),
 ('Jay Chandrasekhar', 4, 153477662),
 ('Carl Rinsch', 1, 150962475),
 ('Kevin Macdonald', 3, 149697966),
 ('Harald Zwart', 2, 149361235),
 ('Ash Brannon', 1, 149044513),
 ('Luis Mandoki', 2, 148580016),
 ('Joe Carnahan', 3, 147015973),
 ('Andy Muschietti', 1, 146497771),
 ('Scott Stewart', 2, 146227789),
 ('David Lowery', 1, 143695338),
 ('Camille Delamarre', 2, 141526499),
 ('Sergei Bodrov', 2, 140706123),
 ('Scott Speer', 1, 140470746),
 ('Stephen Hillenburg', 1, 140161792),
 ('Seth Rogen', 2, 138383954),
 ('Gábor Csupó', 1, 137587063),
 ('George A. Romero', 7, 137164215),
 ('John A. Davis', 2, 136117361),
 ('Steve Trenbirth', 1, 135680000),
 ('Jean-Marc Vallée', 3, 135109715),
 ('Charles Herman-Wurmfeld', 3, 134928266),
 ('George Tillman, Jr.', 4, 134909916),
 ('Ericson Core', 1, 133718711),
 ('Michel Hazanavicius', 1, 133432856),
 ('Fernando Meirelles', 3, 132953419),
 ('Thomas Langmann', 1, 132900000),
 ('Gregory Hoblit', 3, 132876699),
 ('Jim Gillespie', 2, 132002436),
 ('Frederik Du Chau', 2, 131945022),
 ('James Watkins', 2, 131714733),
 ('Henry Selick', 2, 130005915),
 ('Alexander Witt', 1, 129394835),
 ('Robert Iscove', 3, 128716527),
 ('Richard Attenborough', 4, 128487889),
 ('Jim Sheridan', 3, 128263217),
 ('George Nolfi', 1, 127869379),
 ('Luc Jacquet', 1, 127392239),
 ('James Marsh', 2, 126684666),
 ('Craig Gillespie', 4, 126622617),
 ('Barry Cook', 2, 126546518),
 ('Jared Hess', 3, 126316090),
 ('Steve Pink', 3, 125889597),
 ('Patricia Riggen', 3, 125214114),
 ('Ted Kotcheff', 1, 125212904),
 ('Miguel Arteta', 5, 124371375),
 ('Richard Loncraine', 3, 124312007),
 ('Michael Ritchie', 3, 123486287),
 ('Eli Roth', 3, 123031900),
 ('Ron Shelton', 4, 122668863),
 ('Kelly Asbury', 1, 122563539),
 ('Gregory Jacobs', 1, 122513057),
 ('Victor Salva', 3, 122320455),
 ('Penelope Spheeris', 1, 121697323),
 ('Daniel Lee', 2, 121545703),
 ("Gavin O'Connor", 5, 121329611),
 ('Jane Campion', 3, 121140078),
 ('Jimmy Hayward', 2, 120539000),
 ('David Carson', 1, 120000000),
 ('Carl Franklin', 3, 119277373),
 ('Peter Lord', 1, 118338361),
 ('John Milius', 3, 117490582),
 ('Jessie Nelson', 2, 116542418),
 ('David Wain', 4, 116540861),
 ('Andrew Bergman', 2, 116313039),
 ('John Luessenhop', 2, 116297640),
 ('Jason Moore', 1, 115350426),
 ('Steve Miner', 5, 115283257),
 ('Geoffrey Sax', 2, 115134289),
 ('Alejandro Agresti', 1, 114830111),
 ('David McNally', 2, 113916474),
 ('David Hackl', 2, 113857533),
 ('Peter Webber', 2, 113636673),
 ('John Stockwell', 4, 113206241),
 ('Jeff Wadlow', 3, 112375105),
 ('Christian Ditter', 1, 112343513),
 ('Niki Caro', 3, 112334301),
 ('Etan Cohen', 1, 111811453),
 ('Jodie Foster', 3, 111772589),
 ('John Wells', 2, 110795680),
 ('Irwin Winkler', 4, 110627965),
 ('J Blakeson', 1, 109906372),
 ('Robin Budd', 1, 109862682),
 ('Colin Strause', 2, 108618102),
 ('Alister Grierson', 1, 108609310),
 ('Dan Trachtenberg', 1, 108286421),
 ('Anthony Stacchi', 1, 108255770),
 ('Andrew Douglas', 1, 108047131),
 ('Oliver Hirschbiegel', 2, 107252424),
 ('Sam Fell', 1, 107139399),
 ('Barbra Streisand', 3, 105187599),
 ('Anton Corbijn', 3, 105178687),
 ('Kimberly Peirce', 3, 105142025),
 ('Wong Kar-wai', 3, 105134786),
 ('Jorge Blanco', 1, 104945765),
 ('Stephen Gaghan', 2, 104719357),
 ('Garth Jennings', 1, 104478416),
 ('John Francis Daley', 1, 104384188),
 ('Geoff Murphy', 1, 104324083),
 ('Leigh Whannell', 1, 104303851),
 ('Will Finn', 1, 103951461),
 ('Stiles White', 1, 103590271),

In [41]:
# Name all the directors with the number of movies total revenue generated by those total movies of that director, The director that has made highest movies which come at top
cur.execute("select d.name,count(m.id),sum(m.revenue) from movies as m join directors as d on m.director_id=d.id group by d.name order by sum(m.id) DESC")
top=pd.DataFrame(cur.fetchall(),columns=['Name','Total_Movies','Total_revenue'])
top

                  Name  Total_Movies  Total_revenue
0     Steven Spielberg            27     9147393164
1          Woody Allen            21      669101038
2      Martin Scorsese            20     1956635998
3       Clint Eastwood            20     2512058888
4            Spike Lee            16      340618771
...                ...           ...            ...
2344    Brenda Chapman             1      538983207
2345        Peter Sohn             1      331926147
2346       Lee Unkrich             1     1066969703
2347       Dan Scanlon             1      743559607
2348      Byron Howard             1      591794936

[2349 rows x 3 columns]

In [43]:
# Give the title of the movie, release_date, budget, Revenue, Popularity and vote_average that are made by steven spielberg
cur.execute("select original_title,release_date,budget,revenue,popularity,vote_average from movies join directors on movies.director_id=directors.id where directors.name='Steven Spielberg'")
cur.fetchall()

[('Indiana Jones and the Kingdom of the Crystal Skull',
  '2008-05-21',
  185000000,
  786636033,
  75,
  5.7),
 ('The BFG', '2016-06-01', 140000000, 183345589, 44, 6.0),
 ('War of the Worlds', '2005-06-28', 132000000, 591739379, 48, 6.2),
 ('The Adventures of Tintin', '2011-10-25', 130000000, 371940071, 89, 6.7),
 ('Minority Report', '2002-06-20', 102000000, 358372926, 65, 7.1),
 ('A.I. Artificial Intelligence', '2001-06-29', 100000000, 235926552, 34, 6.8),
 ('The Lost World: Jurassic Park', '1997-05-23', 73000000, 229074524, 2, 6.2),
 ('The Terminal', '2004-06-17', 60000000, 219417255, 57, 7.0),
 ('Munich', '2005-12-22', 70000000, 130358911, 29, 6.9),
 ('Hook', '1991-12-11', 70000000, 300854823, 33, 6.6),
 ('War Horse', '2011-12-25', 66000000, 177584879, 29, 7.0),
 ('Saving Private Ryan', '1998-07-24', 70000000, 481840909, 76, 7.9),
 ('Lincoln', '2012-11-09', 65000000, 275293450, 36, 6.7),
 ('Jurassic Park', '1993-06-11', 63000000, 920100000, 40, 7.6),
 ('Catch Me If You Can', '2002-12-25', 52000000, 352114312, 73, 7.7),
 ('Indiana Jones and the Last Crusade',
  '1989-05-24',
  48000000,
  474171806,
  80,
  7.6),
 ('Bridge of Spies', '2015-10-15', 40000000, 165478348, 48, 7.2),
 ('Amistad', '1997-12-03', 36000000, 74000000, 3, 6.8),
 ('1941', '1979-12-13', 35000000, 31755742, 10, 5.6),
 ('Indiana Jones and the Temple of Doom',
  '1984-05-23',
  28000000,
  333000000,
  66,
  7.1),
 ("Schindler's List", '1993-11-29', 22000000, 321365567, 104, 8.3),
 ('Raiders of the Lost Ark', '1981-06-12', 18000000, 389925971, 68, 7.7),
 ('Close Encounters of the Third Kind',
  '1977-11-16',
  20000000,
  303788635,
  52,
  7.2),
 ('The Color Purple', '1985-12-18', 15000000, 146292009, 17, 7.7),
 ('Jaws', '1975-06-18', 7000000, 470654000, 50, 7.5),
 ('E.T. the Extra-Terrestrial', '1982-04-03', 10500000, 792910554, 56, 7.3),
 ('Twilight Zone: The Movie', '1983-06-24', 10000000, 29450919, 12, 6.2)]